#inventory {
  width: 150px;
  overflow: hidden;
  position: relative;
  top:20%;
  left:22%;
}

*[id*="inventory_"] {
  stroke-dashoffset:0;
}


#study {
  width: 150px;
  overflow: hidden;
  position: relative;
  top:20%;
  left:24%;
}

*[id*="study_"] {
  stroke-dashoffset:0;
}

#insta {
  width: 150px;
  overflow: hidden;
  position: relative;
  top:20%;
  left:26%;
}

*[id*="insta_"] {
  stroke-dashoffset:0;
}

#service {
  width: 150px;
  overflow: hidden;
  position: relative;
  top:20%;
  left:28%;
}

*[id*="service_"] {
  stroke-dashoffset:0;
}

#arenda {
  width: 150px;
  overflow: hidden;
  position: relative;
  top:30%;
  left:22%;
}

*[id*="arenda_"] {
  stroke-dashoffset:0;
}

#interier {
  width: 150px;
  overflow: hidden;
  position: relative;
  top:30%;
  left:24%;
}

*[id*="interier_"] {
  stroke-dashoffset:0;
}
